version: '3.3'

services:
  api:
    build: .
    command: uvicorn main:app --loop asyncio --host 0.0.0.0 --port 8000
    ports:
      - "8100:8000"
    volumes:
      - .:/app
    stdin_open: true
    tty: true
